        /* Style for the form */
form {
    max-width: 600px;
    margin: 0 auto;
}

/* Style for the form fields */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"],
input[type="submit"],
input[type="reset"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
}

input[type="submit"],
input[type="reset"] {
    margin-top: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #4CAF50;
}

input[type="reset"] {
    background-color: #f44336;
}

/* Style for the page header */
.page-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #4CAF50;
}
